@font-face {
    font-family: 'Oswald';
    src: url('../Fonts/Oswald-Bold.ttf') format('truetype');
}
@font-face {
    font-family:'Oswald-Light';
    src: url('../Fonts/Oswald-Light.ttf') format('truetype'); 
}
@font-face {
    font-family:'Oswald-Regular';
    src: url('../Fonts/Oswald-Regular.ttf') format('truetype'); 
}

@font-face {
    font-family:'WorkSans-Medium';
    src: url('../Fonts/WorkSans-Medium.ttf') format('truetype'); 
}
@font-face {
    font-family:'WorkSans-Black';
    src: url('../Fonts/WorkSans-Black.ttf') format('truetype'); 
}
@font-face {
    font-family:'WorkSans-Bold';
    src: url('../Fonts/WorkSans-Bold.ttf') format('truetype'); 
}
@font-face{
    font-family: 'WorkSans-SemiBold';
    src: url('../Fonts/WorkSans-SemiBold.ttf');
}
@font-face {
    font-family:'WorkSans-ExtraBold';
    src: url('../Fonts/WorkSans-ExtraBold.ttf') format('truetype'); 
}
@font-face {
    font-family:'WorkSans-ExtraLight';
    src: url('../Fonts/WorkSans-ExtraLight.ttf') format('truetype'); 
}
@font-face {
    font-family:'WorkSans-Light';
    src: url('../Fonts/WorkSans-Light.ttf') format('truetype'); 
}
@font-face{
    font-family: 'WorkSans-Regular';
    src: url('../Fonts/WorkSans-Regular.ttf');
}