@import 'Colors';
@import 'Fonts';
.Erorr{
    display: flex;
    justify-content: center;
    align-items: center;
    height:calc(100vh - 69px);
    width: 100%;
    flex-direction: column;
    text-align: center;
    .num{
        position: relative;
        h1{
            position: absolute;
            transform: translate(-50% ,-50%);
            font-size: 10em;
            color: $MenuColor;
            font-family: 'Oswald';
            letter-spacing: 4px;
            &:nth-child(1){
                color: transparent;
                -webkit-text-stroke:2px #ff0030;
            }
            &:nth-child(2){
                color: #ff0030;
                animation: wave 4s ease-in-out infinite;
            }
            @keyframes wave {
                0%,100% {
                    clip-path:polygon(0% 45% , 15% 44% ,32% 50%, 54% 60% , 70% 61% ,84% 59% ,100% 52%,100% 100%,0% 100%);
                }
                50%{
                    clip-path:polygon(0 60% , 16% 65% , 34% 66% , 51% 62% , 67% 50% ,84% 45% ,100% 46% ,100% 100% , 0% 100%);
                }
            }
        }
    }
    h2{
        margin:100px 0;
        text-transform: uppercase;
        font-family: 'Oswald';
        font-size: 3em;
        color: #ff0030;

    }
}